<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blockchain Management</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
        crossorigin="anonymous">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="row mb-3">
                <div class="col">
                    <h1>Manage your Blockchain</h1>
                </div>
            </div>
            <div v-if="error" class="alert alert-danger" role="alert">
                {{ error }}
            </div>
            <div v-if="success" class="alert alert-success" role="alert">
                {{ success }}
            </div>
            <div class="row">
                <div class="col">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                            <a class="nav-link" href="/">Wallet &amp; Node</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" href="/network">Network</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col">
                    <form @submit.prevent="onAddNode">
                        <div class="form-group">
                            <label for="node-url">Node URL</label>
                            <input v-model="newNodeUrl" type="text" class="form-control" id="node-url" placeholder="localhost:5001">
                        </div>
                        <button :disabled="newNodeUrl.trim() === ''" type="submit" class="btn btn-primary">Add</button>
                    </form>
                </div>
            </div>
            <hr>
            <div class="row my-3">
                <div class="col">
                    <button class="btn btn-primary" @click="onLoadNodes">Load Peer Nodes</button>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <ul class="list-group">
                        <button 
                            v-for="node in nodes"
                            style="cursor: pointer;" 
                            class="list-group-item list-group-item-action" 
                            @click="onRemoveNode(node)">
                            {{ node }} (click to delete)
                        </button>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                nodes: [],
                newNodeUrl: '',
                error: null,
                success: null
            },
            methods: {
                onAddNode: function() {
                    const viewModel = this;
                    axios.post('/nodes/create', { node: this.newNodeUrl })
                        .then(function(response) {
                            viewModel.success = 'Stored node successfully.';
                            viewModel.error = null;
                            viewModel.nodes = response.data.body.nodes;
                        })
                        .catch(function(error) {
                            viewModel.success = null;
                            viewModel.error = error.response.data.error;
                        });
                },
                onLoadNodes: function() {
                    const viewModel = this;
                    axios.get('/nodes')
                        .then(function(response) {
                            viewModel.success = 'Fetched nodes successfully.';
                            viewModel.error = null;
                            viewModel.nodes = response.data.body.nodes;
                            console.log(response);
                        })
                        .catch(function(error) {
                            viewModel.success = null;
                            viewModel.error = error.response.data.error;
                        });
                },
                onRemoveNode: function(node_url) {
                    const viewModel = this;
                    axios.delete(`/nodes/${node_url}`)
                        .then(function(response) {
                            viewModel.success = 'Deleted node successfully.';
                            viewModel.error = null;
                            viewModel.nodes = response.data.body.nodes;
                        })
                        .catch(function(error) {
                            viewModel.success = null;
                            viewModel.error = error.response.data.error;
                        });  
                }
            }
        })
    </script>
</body>

</html>